<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <form action="/upload" enctype="multipart/form-data" method="post">
        <label for="file">Carica l'immagine</label>
        <input type="file" id="file" name="file">
        <input type="submit">
    </form>
</body>
</html>